* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* debug */

#banner {
    height: 400px;
    /* background-color: blue; */
}
#about {
    height: 300px;
    /* background-color: green; */
}
#plan-structure {
    height: 400px;
    /* background-color: blue; */
}
#faq {
    height: 100px;
    /* background-color: purple; */
}
footer {
    height: 300px;
    /* background-color: red; */
}

/* common */
.w-50 {
    width: 50%;
}
.float-left {
    float: left;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 80%;
    margin: 0 auto;
    /* background-color: orange; */
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    display: inline-block;
    padding: 20px 30px 20px 10px;
    background-color: rgb(91, 201, 115);
    border: 1px solid rgb(91, 201, 115);
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
}
.btn:hover {
    background-color:rgb(16, 133, 201);
    transition: background 0.5s ease-in-out;
}

.small-text {
    color: grey;
    font-size: 12px;
}
.medium-text {
    color: grey;
    font-size: 15px;
}
.large-text {
    color: grey;
    font-size: 18px;
}
/* header */
header {
    /* background-color: red; */
    height: 300px;
    margin-bottom: 30px;
}

.text-container {
    position: relative;
    top: 50px;
    left: 50px;
    width: 70%;
}
.text-container h1 {
    letter-spacing: 1px;
}
.text-container p {
    margin: 40px 0;
}
.text-container a {
    text-decoration: none;
}

.disclaimer {
   position: relative;
   bottom: 20px;
   text-align: center;
   color: rgb(16, 133, 201);
}
#header-img {
    height: 100%;
    position: relative;
}
#header-img img {
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* main */

/* section-top */
section#banner {
    border-top: 1px solid lightgrey;
}

#banner-img {
    position: relative;
    height: 150px;
    margin-top: 70px;
}
#banner-img img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#banner-text {
    text-align: center;
    margin-top: 20px;
    width: 30%;
    margin: 20px auto;
}
.green-text {
    color: rgb(91, 201, 115);
}
#banner-text p.small-text {
    margin: 20px 0;
}
#banner-text p.medium-text {
    margin-bottom: 20px;
}
#banner-text a {
    color: rgb(16, 133, 201); 
}
#banner-text a:hover {
    color: rgb(91, 201, 115);
    transition: color 0.5s ease-in-out;
}
